* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/Info/background4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: red;
}

.container {
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
p {
    color: white;
}

.card p {
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px)
    }
}

/*@media only screen and (max-width: 768px) and (min-width: 481px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
    }
}*/