* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(#);
    background-attachment: fixed;
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
}

.card {}